@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  overflow-y: hidden;

  a {
    color:hsl(278, 68%, 11%);
    text-decoration: none;
    &:hover {
      opacity: 50%;
    }
  }
  
  input {
    border-radius: 5px;
    outline: none;
    padding: 5px;
    width: 20em;
    border-style: none;
    border: solid hsl(270, 3%, 87%);
  
    &::placeholder {
      color: hsl(270, 3%, 87%);
    }
  }
  
  p {
    color: hsl(278, 68%, 11%);
  }
  
  .body-container {
    display: flex;
  
    .left-div {
      position: relative;
      height: 100%;
      max-height: 100vh;
  
      .card-images {
        position: absolute;
        left: 80%;
        top: 50%;
        transform: translate(-50%,-50%);

        .card-back {
          margin-left: 5em;
          width: 25em;
          margin-top: 1.5em;
        }

        .card-front {
          width: 25em;
        }
      }
    }
  
    .right-div {
      margin: auto;
  
      form {
        .cardholdername, .card-num {
          margin-bottom: 20px;
        }
  
        .date-and-cvc {
          display: flex;
          justify-content: space-between;
  
          input {
            width: 4em;
          }
        }
  
        .cvc {
          input {
            width: 9em;
          }
        }
      }
      button {
        margin-top: 30px;
        padding: 10px;
        background: hsl(278, 68%, 11%);
        color: white;
        border-radius: 10px;
        width: 20em;
        cursor: pointer;
      }
  
      .completed-state {
        display: none;
      }
  
      .attribution {
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 1em;
      }
    }
  }
}